<h1><%= @actor.name %></h1>
<%= image_tag @actor.image.url(:medium) %>
<%= simple_format @actor.description %>

<%= render partial: 'comments/comment', locals: {commentable: @actor} %>
<%= render partial: 'comments/form', locals: {commentable: @actor} %>

<%= link_to 'Edit', edit_actor_path(@actor) %>
<%= link_to 'Back', actor_path %>
